.project__img {
	padding-bottom: 20px;
	border-radius: 20px 20px 0 0;
}

p, span {
	padding-left: 10px;
}

.h2__project {
	padding-top: 50px;
}

.project {
	padding-bottom: 50px;
	background-color: white;
}

.projects {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;

}

.project__info {
	margin-bottom: 20px;
	padding-left: 20px;
	padding-bottom: 30px;
}

.project__block {
	margin-right: 40px;
	border-radius: 20px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@media screen and (max-width: 1023px) {
	.projects {
		display: flex;
		flex-wrap: wrap;
	}

	.project__block {
		margin-bottom: 50px;
		width: calc(50% - 30px);
		margin-right: 0;
	}
}

@media screen and ( max-width: 770px){
	.project__block {
		width: calc(100% - 100px);
		font-size: 20px;
		display: block;
		margin-left: auto;
    	margin-right: auto;
	}
	
	.h2__project {
		text-align: center;
	}

	.project__img {
		width: 100%;
	}
}